/* Base styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 1rem;
}

header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

img {
  width: 120px;
}

.subtitle {
  color: #0056b3;
}

/* DARK THEME */
body.dark {
  background-color: #333;
  color: white;
}

body.dark .subtitle {
  color: #4da3ff;
}
